# 셀 실행방법

In [1]:
# 코드 셀
print('hello python')

# 실행은 Ctrl + Enter, Alt + Enter, Shift + Enter

hello python

# 2. 파이썬 함수

## 2-1. 함수 정의 및 사용

In [2]:
def my_add(num1, num2):
    print(num1 + num2)

In [3]:
my_add(3,5)

8

In [4]:
my_add('hello ','world')

hello world

In [6]:
my_add('hello', 5)  # 문자열과 숫자는 concat연산이 안되므로 오류 발생합니다.

TypeError: can only concatenate str (not "int") to str

### docstring

In [7]:
def my_function():
    """처음 만든
    함수입니다."""
    pass

In [8]:
print(my_function.__doc__)

처음 만든
    함수입니다.

### 함수 정의하고 호출하기

In [9]:
a = 1
b = 2
a, b = b, a+b
print(a, b)

a = b
b = a+b
print(a,b)

2 3
3 6

In [10]:
def fibonacci(n):
    '''
    n값 미만까지 피보나치 수열을 출력합니다.
    n : 정수를 입력합니다.
    return : None
    '''
    a, b = 0, 1

    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [11]:
fibonacci(200)

0 1 1 2 3 5 8 13 21 34 55 89 144



* 파이썬의 함수는 함수와 메서드로 나뉨
* 함수는 파일(.py)안에 바로 선언된 함수
* 메서드는 클래스 안에 선언된 함수

### 지역변수와 전역변수

In [12]:
global_var = 100
def func1():
    print(global_var)

In [13]:
func1()

100

In [14]:
def func2():
    local_var = 200
    print(local_var)

In [15]:
func2()

200

In [16]:
print(local_var)  # 지역변수는 함수 밖에서 참조 못합니다.

NameError: name 'local_var' is not defined

### Lexical 특성

In [17]:
g_var = 100

In [18]:
def func1():
    print('before', g_var)
    g_var = 200
    print('after', g_var)

In [19]:
func1()  # Lexical 특성에 의해 할당되지 않은 변수를 참조하므로 오류 발생함

UnboundLocalError: local variable 'g_var' referenced before assignment

### 전역변수 수정

In [20]:
g_var2 = 100

def func2():
    global g_var2
    print('before', g_var2)
    g_var2 = 200
    print('after', g_var2)

func2()
print(g_var2)

before 100
after 200
200

### 값에 의한 호출과 참조에 의한 호출

In [21]:
# 값에 의한 호출
foo = 100

def func1(foo):
    foo = 200
    print(foo)

func1(foo)  # 200
print(foo)  # 100

200
100

In [22]:
def func1(foo):
    foo = foo + 100
    print(foo)
    return foo

foo = func1(foo)  # 200
print(foo)  # 200

200
200

In [23]:
# 참조에 의한 호출
L = [1,2,3,4,5]
print(id(L))

def func1(foo):
    foo.append(6)
    print(id(foo))
    print(foo)

func1(L)  # [1,2,3,4,5,6]
print(L)

132945144456384
132945144456384
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [24]:
# =을 이용한 재할당
L = [1,2,3,4,5]
print(id(L))

def func2(foo):
    foo = [5,6,7,8,9]
    print(id(foo))
    print(foo)

func2(L)
print(L)

132945143918464
132945144457280
[5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]

### 함수이름 변경

In [25]:
def my_add(num1, num2):
    print(num1 + num2)

In [26]:
result = my_add(2,3)

5

In [27]:
my_add2 = my_add  # 함수도 객체이므로 변수에 할당 가능

In [28]:
my_add2(4,5)

9

## 2-2. 함수의 실행 결과를반환하는return
### 반환값이있는함수

In [29]:
def fibonacci2(n):
    result = []
    a, b = 0, 1

    while a<n:
        result.append(a)  # print(a, end=' ')
        a, b = b, a+b
    return result

In [30]:
fibonacci2(200)  # 밑에 결과는 개발자가 볼 수있도록 출력한 것임

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [31]:
fibo_result = fibonacci2(200)  # 함수의 결과를 변수에 받아서 출력하는 것이 적절함
print(fibo_result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

### 여러개값 반환

In [32]:
def fibonacci3(n):
    result = []
    a, b = 0, 1

    while a<n:
        result.append(a)  # print(a, end=' ')
        a, b = b, a+b
    return result, n

In [33]:
fibo_result = fibonacci3(200)  # 함수의 반환값이 여러개이면 튜플로 반환
print(fibo_result)

([0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144], 200)

In [34]:
print(_)  # 파이썬에서 사용하는 내장 변수, 이전에 연산된 결과값 반환

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [35]:
fibo_result, _ = fibonacci3(200)  # 어러개 반환값을 받을 때 _변수의 값은 사용 안할때 지정
print(fibo_result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

### 함수 객체를 반환하는 함수

In [36]:
def outer(num):  # 함수를 반환하는 함수
    def inner(data):
        return num*data
    return inner  # 함수를 반환

In [37]:
temp = outer(10)
print(type(temp))
print(temp(3))

<class 'function'>
30

In [38]:
print(outer(10)(3))  # 함수형 API의 예

30

## 2-3. 함수의 매개변수
* 자바, C :
        타입을 지정하는 키워드가 있는 언어,
        함수 정의 와 호출시 매개변수 타입 및 개수와 인수의 타입 및 개수가 일치,
        함수의 중복을 허용함
* 파이썬, R, 자바스크립트 :
        타입을 지정하는 키워드가 없는 언어,
        매개변수의 개수와 인수의 개수가 일치하지 않을 수 있음,
        함수의 중복을 허용 안함

### 기본 값을 갖는 매개변수

In [39]:
def make_url(ip, port=80):
    return f'http://{ip}:{port}'

# 기본값이 없는 매개변수 : 필수 매개변수
# 기본값이 있는 매개변수 : 선택 매개변수

In [40]:
print(make_url('localhost'))
print(make_url('localhost', 8080))  # 순서 인수
print(make_url(port=8080, ip='127.0.0.1'))  # 키워드 인수
print(make_url('localhost', port=8080)) # 필수 매개변수-순서 인수 / 선택 매개변수-키워드 인수 사용

http://localhost:80
http://localhost:8080
http://127.0.0.1:8080
http://localhost:8080

###  매개변수의 기본값이 변수일 경우

In [41]:
i = 5

def func2(arg=i):
    print(arg)

In [42]:
i = 6
func2()  # 함수가 정의될 때의 변수값을 기본값으로 사용됨.

5

### 매개변수 기본값이 변경 가능한 객체

In [43]:
list_ = []

def func3(a, L=list_):
    L.append(a)
    return L

In [44]:
print(func3(1))

[1]

In [45]:
print(func3(2))

[1, 2]

In [46]:
def func4(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [47]:
func4(3, list_)

[1, 2, 3]

In [48]:
func4(4)

[4]

### 키워드 인수

In [49]:
print(func4(3, list_))
print(func4(10))
print(func4(L=list_, a=20))

[1, 2, 3, 3]
[10]
[1, 2, 3, 3, 20]

### 키워드 인수 - 오류 발생 상황

In [50]:
print(func4())  # 에러 : 필수 매개변수 인수로 전달 안함

TypeError: func4() missing 1 required positional argument: 'a'

In [51]:
print(func4(L=list_, 70))  # 에러 : 필수 매개변수에 인수 전달 후 키워드 인수 전달

SyntaxError: positional argument follows keyword argument (<ipython-input-51-a65af856cd75>, line 1)

In [52]:
print(func4(70, L=list_))

[1, 2, 3, 3, 20, 70]

In [53]:
print(func4(50, 60))

AttributeError: 'int' object has no attribute 'append'

In [54]:
print(func4(40, a=60))

TypeError: func4() got multiple values for argument 'a'

### 튜플 매개변수를 이용한 가변인수 설정

In [55]:
def add(num1, num2):
    return num1+num2

In [56]:
add(2,3)

5

In [57]:
def add(num1, num2, num3):
    return num1+num2+num3

In [58]:
add(2,3,4)

9

In [59]:
add(3,4)  # 파이썬은 함수의 중복을 허용하지 않음

TypeError: add() missing 1 required positional argument: 'num3'

**  파이썬은 함수 중복을 지원하지 않지만 튜플 매개변수를 이용하면 함수 중복 효과를 낼 수 있음

In [60]:
def add(*args):  # 순서 인수를 필수 매개변수에 매핑하고, 남은 인수를 스쿠핑(Sqoop)
    sum = 0
    for num in args:
        sum += num
    return sum

In [61]:
print(add(2,3,4))
print(add(2,3))
print(add(2,3,4,5))

9
5
14

### 튜플 인수의 순서

In [62]:
def concat(*args, sep):  # *args 매개변수 다음에 나오는 매개 변수는 키워드 인수여야 함!
    return sep.join(args)

In [63]:
concat('earth','mars','venus','/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [64]:
concat('earth','mars','venus',sep='/')   # 파라미터의 이름을 지정

'earth/mars/venus'

#### 1) 함수 선언시 디폴트 파라미터로 선언

In [67]:
def concat(*args, sep='/'):
    return sep.join(args)

concat('earth','mars','venus')
concat('earth','mars','venus',sep=',')

'earth,mars,venus'

#### 2) 순서인수가 앞에 올 수 있도록 파라미터 선언

In [66]:
def concat(sep, *args):
    return sep.join(args)

concat('/','earth','mars','venus')

'earth/mars/venus'

### 딕셔너리 매개변수

In [68]:
def func6(a, *b, **c):  # a: 필수 매개변수, *b: 튜플 매개변수, **c: 딕셔너리 매개변수
    print(a, b, c)

In [69]:
func6(10,1,2,3, name='kildong', age=20)
# 딕셔너리 매개변수는 남는 키워드 인수를 스쿠핑 함. 딕셔너리 형식으로 저장

10 (1, 2, 3) {'name': 'kildong', 'age': 20}

### 매개변수와 인수의 순서

In [71]:
def func6(a, *b, age=10, **c):
    print(a, b, age,c)

func6(10,1,2,3, name='kildong', age=20)

10 (1, 2, 3) 20 {'name': 'kildong'}

### 튜플 인수 언패킹

In [72]:
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [75]:
T = (2,3,4)
add(T)  # add((2,3,4))

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [76]:
add(*T)  # 튜플 인수 언패킹 : add(2,3,4)

9

### 딕셔너리 인수 언패킹

In [77]:
def func5(**data):
    for item in data.items():
        print(item)

In [78]:
cust_info = {'name':'kildong', 'age':30}
func5(cust_info)  # func5({'name':'kildong', 'age':30})

TypeError: func5() takes 0 positional arguments but 1 was given

In [79]:
func5(**cust_info)  # 딕셔너리 인수 언패킹 : func5(name='kildong', age=30)

('name', 'kildong')
('age', 30)

### 함수의 인수로 함수 객체 전달하기

In [86]:
def template(func, num, *args, **kwargs):  # 데코레이션 템플릿
    print('---------------------')
    print(num)
    result = func(*args, **kwargs)  # 언패킹으로 전달해야 함!
    print(result)
    print('=====================')
    return result

In [87]:
result = template(add, 2,3,4,5,6)
print(result)

---------------------
2
18
=====================
18

In [88]:
def concat(*args, sep='/'):
    return sep.join(args)

In [89]:
result = template(concat, 0, 'abc','def','ghi', sep=',')
print(result)

---------------------
0
abc,def,ghi
=====================
abc,def,ghi

https://seaborn.pydata.org/generated/seaborn.jointplot.html#seaborn.jointplot

In [91]:
def template(type='add', *args, **kwargs):
    print('---------------------')
    result = 0
    if type == 'add':
        result = add(*args, **kwargs)
    elif type == 'concat':
        result = concat(*args, **kwargs)
    print(result)
    print('=====================')
    return result

## 2-4. 람다식
람다식은 작은 익명함수를 의미함

In [92]:
L = [1,2,3,4,5]
# 리스트의 모든 요소에 2를 곱한 값을 갖는 리스트를 생성
L2 = L * 2
print(L2)

L2 = []
for data in L:
    L2.append(data*2)
print(L2)

# 3을 곱한 값을 갖는 리스트 생성
# 4를 곱한 값을 갖는 리스트 생성
# 5를 더한 값을 갖는 리스트 생성
# --> 특정 리스트에 있는 모든 요소에 어떤 함수를 적용한 값을 생성

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

In [93]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(func(item))
    return result

In [94]:
L = [1,2,3,4,5]

def x3(data):  # 인수로 전달할 함수 정의
    return data*3

map_template(x3, L)

[3, 6, 9, 12, 15]

#### 1) 함수의 인수에 람다식 사용

In [95]:
# 3을 곱한 값을 갖는 리스트 생성
map_template(lambda data: data*3, L)

[3, 6, 9, 12, 15]

In [97]:
# 5를 더한 값을 갖는 리스트 생성
map_template(lambda x : x+5, L)

[6, 7, 8, 9, 10]

In [98]:
def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [99]:
L = [1,2,3,4,5,6,7,8,9,10]

# 짝수만 리스트로 생성
def even(data):
    return data%2 == 0

filter_template(even, L)

[2, 4, 6, 8, 10]

In [100]:
# 람다식으로
filter_template(lambda x : x%2==0, L)

[2, 4, 6, 8, 10]

#### 2) 리턴문에 람다식 사용

In [101]:
def make_array(shape):
    def x2(x):
        return [x]*shape[0]
    def x3(x):
        return [[x]*shape[1]] * shape[0]

    if len(shape) == 1:
        return x2
    elif len(shape) == 2:
        return x3

In [102]:
# 함수를 리턴할 경우 리턴문에 람다식 사용
def make_array(shape):
    if len(shape) == 1:
        return lambda x : [x]*shape[0]
    elif len(shape) == 2:
        return lambda x : [[x]*shape[1]] * shape[0]

In [108]:
f1 = make_array((2,))
type(f1)

function

In [109]:
f1(0)

[0, 0]

In [111]:
# 2크기 리스트를 만들고 기본값 0을 할당함.
make_array((2,))(0)

[0, 0]

In [112]:
# 2행 3열 크기의 리스트를 만들고 기본값 10을 할당함
make_array((2,3))(10)

[[10, 10, 10], [10, 10, 10]]

### 타입 힌트

In [115]:
def power(a: int, b: int=2) -> int:  # 매개변수 타입힌트, 리턴타입 힌트
    return a**b

In [116]:
power(3.5, 2)  # 타입 힌트는 강제성은 없지만 함수를 사용하는 사람에게 가이드를 줄 수 있다.

7.0