# 3. 모듈과 패키지

## 3-1. 모듈 사용하기

In [1]:
time.ctime()

NameError: name 'time' is not defined

In [2]:
import time
time.ctime()

'Sun Sep 22 06:21:45 2024'

In [3]:
from time import ctime
ctime()

'Sun Sep 22 06:21:45 2024'

In [4]:
import time as t
t.ctime()

'Sun Sep 22 06:21:45 2024'

In [5]:
print(dir(time))

['CLOCK_BOOTTIME', 'CLOCK_MONOTONIC', 'CLOCK_MONOTONIC_RAW', 'CLOCK_PROCESS_CPUTIME_ID', 'CLOCK_REALTIME', 'CLOCK_TAI', 'CLOCK_THREAD_CPUTIME_ID', '_STRUCT_TM_ITEMS', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'altzone', 'asctime', 'clock_getres', 'clock_gettime', 'clock_gettime_ns', 'clock_settime', 'clock_settime_ns', 'ctime', 'daylight', 'get_clock_info', 'gmtime', 'localtime', 'mktime', 'monotonic', 'monotonic_ns', 'perf_counter', 'perf_counter_ns', 'process_time', 'process_time_ns', 'pthread_getcpuclockid', 'sleep', 'strftime', 'strptime', 'struct_time', 'thread_time', 'thread_time_ns', 'time', 'time_ns', 'timezone', 'tzname', 'tzset']

## 3-2. 사용자 정의 모듈

In [6]:
%%writefile "fibonacci.py"
def fibo1(n):
    a, b = 0, 1
    while b<n:
        print(b, end=' ')
        a, b = b, a+b
    print()


def fibo2(n):
    result = []
    a, b = 0, 1
    while b<n:
        result.append(b)
        a, b = b, a+b
    return result

Overwriting fibonacci.py

### 모듈/패키지 경로 추가하기

In [7]:
# 모듈이 다른 폴더에 있는경우 sys.path등록
import sys
sys.path.append('/content')

In [8]:
import fibonacci  # /content/fibonacci.py
fibonacci.fibo1(200)

1 1 2 3 5 8 13 21 34 55 89 144

### python 명령으로 모듈 실행

In [9]:
%%writefile "fibonacci.py"
def fibo1(n):
    a, b = 0, 1
    while b<n:
        print(b, end=' ')
        a, b = b, a+b
    print()


def fibo2(n):
    result = []
    a, b = 0, 1
    while b<n:
        result.append(b)
        a, b = b, a+b
    return result

if __name__ == "__main__":  # python명령으로 모듈 실행하려면
    fibo1(200)

Overwriting fibonacci.py

In [10]:
! python fibonacci.py  # 명령 실행

1 1 2 3 5 8 13 21 34 55 89 144

In [11]:
%%writefile "fibonacci.py"
def fibo1(n):
    a, b = 0, 1
    while b<n:
        print(b, end=' ')
        a, b = b, a+b
    print()


def fibo2(n):
    result = []
    a, b = 0, 1
    while b<n:
        result.append(b)
        a, b = b, a+b
    return result

if __name__ == "__main__":
    import sys
    fibo1(int(sys.argv[1]))  # 명령행 인수를 받아서 명령 실행

Overwriting fibonacci.py

In [12]:
! python fibonacci.py 200

1 1 2 3 5 8 13 21 34 55 89 144

## 3-3. 패키지

### 패키지 리로드

In [13]:
%%writefile "fibonacci.py"
def fibo1(n):
    print('수정')
    a, b = 0, 1
    while b<n:
        print(b, end=' ')
        a, b = b, a+b
    print()


def fibo2(n):
    result = []
    a, b = 0, 1
    while b<n:
        result.append(b)
        a, b = b, a+b
    return result

if __name__ == "__main__":
    import sys
    fibo1(int(sys.argv[1]))  # 명령행 인수를 받아서 명령 실행

Overwriting fibonacci.py

In [14]:
import fibonacci
# 임포트된 패키지/모듈은 수정 후 커널(세션 또는 런타임)을 재시작해야 반영됩니다.
# 또는 아래의 importlib 모듈을 통해 리로드 해야 반영 됩니다.
import importlib
importlib.reload(fibonacci)

fibonacci.fibo1(2000)

수정
1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

# 4. 객체지향 프로그래밍

## 4-1. 객체와 클래스

### 클래스 정의 및 객체 생성

In [15]:
class Person:
    pass

In [16]:
p1 = Person()

In [17]:
print(type(p1))
print(p1)

<class '__main__.Person'>
<__main__.Person object at 0x7c87f058b880>

## 4-2. 변수와 메서드

### 객체에 멤버 추가

In [18]:
class Person:
    name = '홍길동'
    gender = '남자'

    def print_info():
        print('Person 객체 입니다.')

In [19]:
p2 = Person()

In [20]:
print(type(p2))
print(p2)
print(p2.name)

<class '__main__.Person'>
<__main__.Person object at 0x7c87f058a9e0>
홍길동

In [21]:
# 클래스를 이용한 참조
Person.print_info()

Person 객체 입니다.

In [22]:
# 객체를 이용한 참조
p2.print_info()  # Person.print_info(p1)

TypeError: Person.print_info() takes 0 positional arguments but 1 was given

### 인스턴스 메서드

In [23]:
class Person:
    name = '홍길동'
    gender = '남자'

    def print_info(self):  # 인스턴스 메서드의 첫 번째 매개변수는 self여야 함
        print('Person 객체 입니다.')

In [24]:
p2 = Person()

In [25]:
p2.print_info()  # Person.print_info(p2)
# self인자를 통해 객체의 멤버(변수,메서드)에 접근하기 위해 사용

Person 객체 입니다.

### 클래스의 멤버변수 접근

In [26]:
class Person:
    name = '홍길동'
    gender = '남자'

    def print_info(self):
        print('Person 객체 입니다.')
        print(f'{name}님은 {gender}입니다.')  # print('{}님은 {}입니다.'.format(name, gender))

In [27]:
p3 = Person()

In [28]:
p3.print_info()

Person 객체 입니다.

NameError: name 'name' is not defined

### self
self는 키워드 아님, 다른 문자로 작성해도 됨

In [29]:
class Person:
    name = '홍길동'
    gender = '남자'

    def print_info(self):
        print('Person 객체 입니다.')
        print(f'{self.name}님은 {self.gender}입니다.')

In [30]:
p4 = Person()
p4.print_info()

Person 객체 입니다.
홍길동님은 남자입니다.

### 네임 스페이스

In [31]:
p4.name = '이몽룡'  # p4객체 네임스페이스에 저장
p4.print_info()

Person 객체 입니다.
이몽룡님은 남자입니다.

In [32]:
print(Person.name)  # class변수는 Person 클래스 네임스페이스에 저장되어 있음

홍길동

In [33]:
p4.nickname = '암행어사'  # 파이썬은 class에 선언하지 않은 변수도 동적으로 객체에 추가할 수 있음
print(p4.nickname)

암행어사

### class 메서드와 static 메서드

#### 1) 인스턴스 메서드

In [34]:
class Person:
    name = '홍길동'
    gender = '남자'

    # 메서드 : 인스턴스 메서드, 반드시 인스턴스(객체)가 있어야 호출 가능
    def print_info(self):
        print('Person 객체 입니다.')
        print(f'{self.name}님은 {self.gender}입니다.')

    def do_():
        print(f'이름: {name}, 성별: {gender}')

In [35]:
Person.do_()

NameError: name 'name' is not defined

#### 2) class 메서드

In [36]:
class Person:
    name = '홍길동'
    gender = '남자'

    # 메서드 : 인스턴스 메서드, 반드시 인스턴스(객체)가 있어야 호출 가능
    def print_info(self):
        print('Person 객체 입니다.')
        print(f'{self.name}님은 {self.gender}입니다.')

    @classmethod
    def do_(cls):  # cls대신 다른 변수명 사용해도 됨.
        print(f'이름: {cls.name}, 성별: {cls.gender}')

In [37]:
Person.do_()

이름: 홍길동, 성별: 남자

#### 3) static 메서드

In [38]:
class Person:
    name = '홍길동'
    gender = '남자'

    # 메서드 : 인스턴스 메서드, 반드시 인스턴스(객체)가 있어야 호출 가능
    def print_info(self):
        print('Person 객체 입니다.')
        print(f'{self.name}님은 {self.gender}입니다.')

    @classmethod
    def do_(cls):  # cls대신 다른 변수명 사용해도 됨.
        print(f'이름: {cls.name}, 성별: {cls.gender}')

    # 클래스의 멤버를 참조하지 않는 경우
    @staticmethod
    def that_():
        print('클래스의 멤버를 참조하지 않습니다.')
        print(f'클래스의 멤버 참조 가능 : {Person.name}, {Person.gender}')

In [39]:
Person.that_()

클래스의 멤버를 참조하지 않습니다.
클래스의 멤버 참조 가능 : 홍길동, 남자

In [40]:
p1 = Person()
p1.name = "허진경"
p1.print_info()
Person.do_()
Person.that_()

Person 객체 입니다.
허진경님은 남자입니다.
이름: 홍길동, 성별: 남자
클래스의 멤버를 참조하지 않습니다.
클래스의 멤버 참조 가능 : 홍길동, 남자

### 참고) 동적으로 변수 할당의 잘 한 예 / 잘못한 예

In [41]:
import seaborn as sns
iris = sns.load_dataset('iris')

In [42]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [43]:
iris.new_col = 1  # 동적으로 변수 생성

In [44]:
print(iris.new_col)

1

In [45]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [46]:
# 열을 추가하려면
iris['new_col'] = 1

In [47]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  new_col
0           5.1          3.5           1.4          0.2  setosa        1
1           4.9          3.0           1.4          0.2  setosa        1
2           4.7          3.2           1.3          0.2  setosa        1
3           4.6          3.1           1.5          0.2  setosa        1
4           5.0          3.6           1.4          0.2  setosa        1

## 4-3. 생성자와 소멸자

### 생성자와 소멸자를 갖는 클래스

In [48]:
class Person:
    name = '홍길동'  # 클래스 네임스페이스에 저장
    gender = '남자'

    # 생성자
    def __init__(self):
        print('Person 객체를 생성합니다.')
        self.name = '성춘향'  # 객체 네임스페이스에 저장
        self.gender = '여자'

    # 소멸자
    def __del__(self):
        print('Person 객체를 소멸합니다.')

    def print_info(self):
        print('Person 객체 입니다.')
        print(f'{self.name}님은 {self.gender}입니다.')

    @classmethod
    def do_(cls):
        print(f'이름: {cls.name}, 성별: {cls.gender}')

    @staticmethod
    def that_():
        print('클래스의 멤버를 참조하지 않습니다.')
        print(f'클래스의 멤버 참조 가능 : {Person.name}, {Person.gender}')

In [49]:
p1 = Person()
p1.print_info()

Person 객체를 생성합니다.
Person 객체 입니다.
성춘향님은 여자입니다.

In [50]:
p1 = None

### 생성자를 이용한 인스턴스 변수 초기화

In [51]:
class Person:
    # 생성자
    def __init__(self, name, gender):
        print('Person 객체를 생성합니다.')
        self.name = name  # 인스턴스 변수 초기화
        self.gender = gender

    # 소멸자
    def __del__(self):
        print('Person 객체를 소멸합니다.')

    def print_info(self):
        print('Person 객체 입니다.')
        print(f'{self.name}님은 {self.gender}입니다.')

    @classmethod
    def do_(cls):
        print(f'이름: {cls.name}, 성별: {cls.gender}')

    @staticmethod
    def that_():
        print('클래스의 멤버를 참조하지 않습니다.')
        print(f'클래스의 멤버 참조 가능 : {Person.name}, {Person.gender}')

In [52]:
p1 = Person('성춘향','여자')
p1.print_info()

Person 객체를 생성합니다.
Person 객체 입니다.
성춘향님은 여자입니다.

### 생성자는 중복 정의 안됨

In [53]:
class Person:
    # 생성자
    def __init__(self, name):
        print('Person 객체를 생성합니다.')
        self.name = name

    def __init__(self, name, gender):
        print('Person 객체를 생성합니다.')
        self.name = name
        self.gender = gender
    # 마지막에 정의된 생성자만 유효함!!!

    # 소멸자
    def __del__(self):
        print('Person 객체를 소멸합니다.')

    def print_info(self):
        print('Person 객체 입니다.')
        print(f'{self.name}님은 {self.gender}입니다.')

    @classmethod
    def do_(cls):
        print(f'이름: {cls.name}, 성별: {cls.gender}')

    @staticmethod
    def that_():
        print('클래스의 멤버를 참조하지 않습니다.')
        print(f'클래스의 멤버 참조 가능 : {Person.name}, {Person.gender}')

In [54]:
p1 = Person('홍길동')

Person 객체를 소멸합니다.

TypeError: Person.__init__() missing 1 required positional argument: 'gender'

In [55]:
p1 = Person('성춘향','여자')

Person 객체를 생성합니다.

## 4-4. 상속과 재정의

### 상속

In [56]:
class Person:
    def __init__(self, name, gender):
        self.name = name
        self.gender = gender

    def __str__(self):
        return f'name: {self.name}, gender: {self.gender}'

    def print_info(self):
        print(f'{self.name}님은 {self.gender}입니다.')

In [57]:
class Student(Person):
    def __init__(self, name, gender, major):
        self.name = name
        self.gender = gender
        self.major = major

    def __del__(self):
        pass

In [58]:
# 클래스 포함관계 확인
print(issubclass(Student, Person))  # issubclass(자식클래스, 부모클래스)

True

### 부모클래스의 생성자 사용

In [59]:
class Student(Person):
    def __init__(self, name, gender, major):
        Person.__init__(self, name, gender)  # 부모 클래스의 생성자를 호출하여 자식 클래스의 변수 초기화
        self.major = major

    def __del__(self):
        pass

In [60]:
s1 = Student('홍길동','남자','컴퓨터')
s1.print_info()

홍길동님은 남자입니다.

### 재정의
부모 클래스에서 정의한 메서드를 자식 클래스에서 다시 정의

In [61]:
class Student(Person):
    def __init__(self, name, gender, major):
        Person.__init__(self, name, gender)  # 부모 클래스의 생성자를 호출하여 자식 클래스의 변수 초기화
        self.major = major

    def __del__(self):
        pass

    # 이름과 매개변수가 동일하게 재정의
    # 자식은 부모보다 구체적임, 부모의 기능을 개선할 수 있음
    def print_info(self):
        print(f'{self.name}님은 {self.gender}입니다.')
        print(f'전공은 {self.major}입니다.')

In [62]:
print(issubclass(Student, Person))

True

In [63]:
s2 = Student('성춘향','여자','건축')
s2.print_info()

성춘향님은 여자입니다.
전공은 건축입니다.

### super()
재정의시 중복된 코드를 호출되도록

In [64]:
class Student(Person):
    def __init__(self, name, gender, major):
        Person.__init__(self, name, gender)  # 부모 클래스의 생성자를 호출하여 자식 클래스의 변수 초기화
        self.major = major

    def __del__(self):
        pass

    # 이름과 매개변수가 동일하게 재정의
    # 자식은 부모보다 구체적임, 부모의 기능을 개선할 수 있음
    def print_info(self):
        super().print_info()
        print(f'전공은 {self.major}입니다.')

In [65]:
s3 = Student('이몽룡','남자','행정학')
s3.print_info()

이몽룡님은 남자입니다.
전공은 행정학입니다.

In [66]:
class Student(Person):
    def __init__(self, name, gender, major):
        super().__init__(name, gender)
        self.major = major

    def __del__(self):
        pass

    # 이름과 매개변수가 동일하게 재정의
    # 자식은 부모보다 구체적임, 부모의 기능을 개선할 수 있음
    def print_info(self):
        super().print_info()
        print(f'전공은 {self.major}입니다.')

In [67]:
s1 = Student('홍길동','남자','컴퓨터')
s1.print_info()

홍길동님은 남자입니다.
전공은 컴퓨터입니다.

### 정적 변수

In [68]:
class Student(Person):
    __count = 0  # 정적 변수 선언 : 클래스 내 공유 자원이 됨

    def __init__(self, name, gender, major):
        # 정적 변수 참조 : 클래스명._클래스명__변수명
        Student._Student__count += 1
        super().__init__(name, gender)
        self.major = major

    def __del__(self):
        Student._Student__count -= 1

    def print_info(self):
        super().print_info()
        print(f'전공은 {self.major}입니다.')

In [69]:
s1 = Student('홍길동','남자','컴퓨터')
s1.print_info()

홍길동님은 남자입니다.
전공은 컴퓨터입니다.

In [70]:
s2 = Student('성춘향','여자','건축')
s2.print_info()

성춘향님은 여자입니다.
전공은 건축입니다.

In [71]:
print(Student._Student__count)

2

In [72]:
class Student(Person):
    __count = 0  # 정적 변수 선언 : 클래스 내 공유 자원이 됨

    def __init__(self, name, gender, major):
        # 정적 변수 참조 : 클래스명._클래스명__변수명
        Student._Student__count += 1
        super().__init__(name, gender)
        self.major = major

    def __del__(self):
        Student._Student__count -= 1

    def print_info(self):
        super().print_info()
        print(f'전공은 {self.major}입니다.')

    @classmethod
    def get_count(cls):
        return Student._Student__count

In [73]:
s1 = Student('홍길동','남자','컴퓨터')
s1.print_info()
print(Student.get_count())
s2 = Student('성춘향','여자','건축')
s2.print_info()
print(Student.get_count())

홍길동님은 남자입니다.
전공은 컴퓨터입니다.
1
성춘향님은 여자입니다.
전공은 건축입니다.
2

# 5. 예외 처리

## 5-1. try ~ except로 예외처리하기

In [74]:
while True:
    x = int(input('정수를 입력하세요 : '))
    print(f'입력한 정수는 {x}입니다.')

정수를 입력하세요 : 3
입력한 정수는 3입니다.
정수를 입력하세요 : 50
입력한 정수는 50입니다.
정수를 입력하세요 : aa

ValueError: invalid literal for int() with base 10: 'aa'

In [75]:
while True:
    try:
        x = int(input('정수를 입력하세요 : '))
        print(f'입력한 정수는 {x}입니다.')
        break
    except:
        print('유효한 정수가 아닙니다. 다시 시도하세요.')

정수를 입력하세요 : dd
유효한 정수가 아닙니다. 다시 시도하세요.
정수를 입력하세요 : a
유효한 정수가 아닙니다. 다시 시도하세요.
정수를 입력하세요 : 4
입력한 정수는 4입니다.

### 예외 별로 처리하기

In [76]:
while True:
    try:
        x = int(input('정수를 입력하세요 : '))
        print(f'입력한 정수는 {x}입니다.')
        print(f'100을 입력한 수로 나누면 {100/x}입니다.')
        break
    except:
        print('유효한 정수가 아닙니다. 다시 시도하세요.')

정수를 입력하세요 : d
유효한 정수가 아닙니다. 다시 시도하세요.
정수를 입력하세요 : 0
입력한 정수는 0입니다.
유효한 정수가 아닙니다. 다시 시도하세요.
정수를 입력하세요 : 50
입력한 정수는 50입니다.
100을 입력한 수로 나누면 2.0입니다.

In [77]:
while True:
    try:
        x = int(input('정수를 입력하세요 : '))
        print(f'입력한 정수는 {x}입니다.')
        print(f'100을 입력한 수로 나누면 {100/x}입니다.')
        break
    except ValueError:
        print('유효한 정수가 아닙니다. 다시 시도하세요.')
    except ZeroDivisionError:
        print('0으로 나눌 수 없습니다.')

정수를 입력하세요 : 0
입력한 정수는 0입니다.
0으로 나눌 수 없습니다.
정수를 입력하세요 : s
유효한 정수가 아닙니다. 다시 시도하세요.
정수를 입력하세요 : 20
입력한 정수는 20입니다.
100을 입력한 수로 나누면 5.0입니다.

### 다중 예외 처리하기

In [78]:
while True:
    try:
        x = int(input('정수를 입력하세요 : '))
        print(f'입력한 정수는 {x}입니다.')
        print(f'100을 입력한 수로 나누면 {100/x}입니다.')
        break
    except (ValueError, ZeroDivisionError):
        print('예외가 발생했습니다. 다시 시도하세요.')

정수를 입력하세요 : r
예외가 발생했습니다. 다시 시도하세요.
정수를 입력하세요 : 0
입력한 정수는 0입니다.
예외가 발생했습니다. 다시 시도하세요.
정수를 입력하세요 : 30
입력한 정수는 30입니다.
100을 입력한 수로 나누면 3.3333333333333335입니다.

### 예외 유형 및 메시지 표시

In [79]:
while True:
    try:
        x = int(input('정수를 입력하세요 : '))
        print(f'입력한 정수는 {x}입니다.')
        print(f'100을 입력한 수로 나누면 {100/x}입니다.')
        break
    except Exception as e:
        print(e)

정수를 입력하세요 : 0
입력한 정수는 0입니다.
division by zero
정수를 입력하세요 : ff
invalid literal for int() with base 10: 'ff'
정수를 입력하세요 : 25
입력한 정수는 25입니다.
100을 입력한 수로 나누면 4.0입니다.

## 5-2. raise로 예외 발생시키기

In [80]:
# 피호출자
def insert(data):
    if len(data) == 0:
        raise Exception('데이터의 길이가 0이므로 입력할 수 없습니다.')

    print(data, '를 입력합니다.')

In [81]:
# 호출자
data = []

try:
    insert(data)
except Exception as e:
    print(e)
else:
    print('예외가 발생하지 않을 경우 실행')

데이터의 길이가 0이므로 입력할 수 없습니다.

In [82]:
data = [1,2,3,4]

try:
    insert(data)
except Exception as e:
    print(e)
else:
    print('예외가 발생하지 않을 경우 실행')

[1, 2, 3, 4] 를 입력합니다.
예외가 발생하지 않을 경우 실행