In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 16pt;}
div.output { font-size: 16pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 16pt;}
div.prompt { min-width: 100px;}
</style>
"""))

In [2]:
def add(a,b):
    return a+b

In [3]:
add(20, 3)

23

In [4]:
def make_url(ip, port=80):
    return "http://{}:{}".format(ip, port)

In [5]:
make_url("localhost", 80)

'http://localhost:80'

In [6]:
make_url("localhost")

'http://localhost:80'

In [7]:
make_url("localhost", 8080)

'http://localhost:8080'

In [8]:
i = 5

In [9]:
def func2(arg=i):
    print(arg)

In [10]:
i = 6

In [11]:
func2()

5

In [12]:
list_ = []

In [13]:
def func3(a, L=list_):
    L.append(a)
    return L

In [14]:
print(func3(1))

[1]

In [15]:
print(func3(2))

[1, 2]

In [16]:
def func4(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [17]:
func4(1)

[1]

In [18]:
func4(2)

[2]

In [19]:
func4(3, list_)

[1, 2, 3]

In [20]:
func4

In [21]:
list_ = []

In [22]:
func4(10, list_)

[10]

In [23]:
func4(a=10, L=list_)

[10, 10]

In [24]:
func4(10, L=list_)

[10, 10, 10]

In [25]:
func4(L=list_, a=20)

[10, 10, 10, 20]

In [26]:
func4(a=30)

[30]

In [27]:
func4()

TypeError: func4() missing 1 required positional argument: 'a'

In [28]:
func4(50, a=60)

TypeError: func4() got multiple values for argument 'a'

In [29]:
func4(b=50)

TypeError: func4() got an unexpected keyword argument 'b'

In [30]:
func4(L=list_, 70)

SyntaxError: positional argument follows keyword argument (<ipython-input-30-79b4f6d43508>, line 1)

In [31]:
def add(a, b):
    return a+b

In [32]:
add(1,2)

3

In [33]:
def add(a,b,c):
    return a+b+c

In [34]:
add(1,2,3)

6

In [35]:
add(1,2) # 함수의 중복을 지원하지 않음

TypeError: add() missing 1 required positional argument: 'c'

In [36]:
def add(*args):
    print(args)

In [37]:
add(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [38]:
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [39]:
add(1)

1

In [40]:
add(1,2,3)

6

In [41]:
add(1,2,3,4)

10

In [42]:
def concat(*args, sep):
    return sep.join(args)

In [43]:
concat("earth", "mars", "venus", "/")

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [44]:
concat("earth", "mars", "venus", sep="/")

'earth/mars/venus'

In [45]:
def concat(sep, *args):
    return sep.join(args)

In [46]:
concat("/", "earth", "mars", "venus")

'earth/mars/venus'

In [47]:
def concat(*args, sep="/"):
    return sep.join(args)

In [48]:
concat("earth", "mars", "venus")

'earth/mars/venus'

In [49]:
concat("earth", "mars", "venus", sep=",")

'earth,mars,venus'

In [50]:
def func6(a, *b, **c):
    print(a)
    print(b)
    print(c)

In [51]:
func6(10, 1,2,3, name="Kildong", age=20)

10
(1, 2, 3)
{'name': 'Kildong', 'age': 20}

In [52]:
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [53]:
add(1,2,3,5)

11

In [54]:
numbers = (1,2,3,4,5,6,7,8,9,10)

In [56]:
add(*numbers)

55

In [57]:
def func5(**data):
    for item in data.items():
        print(item)

In [58]:
cust_info = {"name":"Kildong", "age":30, 
             "address":"서울시 강남구"}

In [60]:
func5(**cust_info)

('name', 'Kildong')
('age', 30)
('address', '서울시 강남구')